.home-main{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.intro{
    margin-left: 100px;
    margin-top: 80px;
    display: block;
}
.intro h1{
    color: rgb(17, 13, 13);
    font-family:cursive;
    color: rgb(187, 63, 87);
}

.intro p{
    font-size: 18px;
    margin: 0px;

}
.intro button{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 8px;
    background-color: #6d8c99;
    font-weight: bolder;
    border: 2px solid rgb(57, 83, 73);
}
.intro-img{
    margin-left: 200px;
    margin-right: 50px;
}
.intro-img img{
    width: 700px;
    height: 400px;
}

.review-home-title{
    text-align: center;
    margin-top: 150px;
    color: rgb(28, 130, 87);
}

.card-group{
    display: flex;
    flex-flow: row-reverse nowrap;
}
.review-home{
    margin-bottom: 50px;
}

.More-Review{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgb(16, 115, 114);
    width: 300px;

}